[submodule "42-libft"]
	path = 42-libft
	url = git@github.com:andreyvdl/42-libft.git
[submodule "42-get-next-line"]
	path = 42-get-next-line
	url = git@github.com:andreyvdl/42-get-next-line.git
[submodule "42-ft_printf"]
	path = 42-ft_printf
	url = git@github.com:andreyvdl/42-ft_printf.git
[submodule "42-Born2BeRoot"]
	path = 42-Born2BeRoot
	url = git@github.com:andreyvdl/42-Born2BeRoot.git
